*.zip
*.sh
*.lock
*.log
*.xml
host/
.settings/
.metadata/
.vscode/
*.Id
*.prefs
*.cproject
*.project
*.pdom
*.launch
*.elf
*.o
*.list
*.su
*.mk
*.d
*.map
.vs
*.sln
*.vcxproj
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.user
*.filters
*.exe
/x64
main
.vscode
